/*----------- Reset CSS -----------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    vertical-align: baseline;
    font-size: 100%;
}
body, .form-control {
    color:#555;
    font-size: 12px;
    font-family: Arial;
    background-color: #EEEEEE;
}
small {
    font-size: 80%;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
a {
    text-decoration:  none;
}

.clearfix:after {
    height: 0;
    clear: both;
    content: ".";
    display: block;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    clear: both;
    display: block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.font-bold {
    font-weight: bold;
}

/*---------------- CSS Login ------------------*/
.register {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bg-login {
    height: 100%;
}

.height-full {
    height: 100%;
}

.register .show-message {
    width: 320px;
    height: auto;
}

.register .content {
    width: 320px;
    height: auto;
    padding: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 2px #595959;
}

.g-recaptcha {
    transform:scale(0.82);
    -webkit-transform:scale(0.82);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}

.form-register {
    width: 100%;
    padding: 10px 20px;
    background-color: #F4F4ED;
    border: 1px solid #c4c4c4;
}

.form-register h5 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 10px;
}

.form-register label {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-register input {
    border-radius: 0;
}

.btn {
    font-size: 13px;
}
.btn-register {
    color: #fff;
    cursor: pointer;
    border-radius: 0;
    font-weight: bold;
    background-color: #8DBD6A;
    border: 1px solid #8DBD6A;
    display: inline-block;
    margin-bottom: 20px;
}

.error-register {
    color: #B60000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: #B60000 !important;
}

.logo {
    width: 280px;
    display: inline-block;
    margin-bottom: 20px;
}

.forgot-password {
    font-size: 12px;
    color: #555;
    text-decoration: underline;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.forgot-password:hover {
    color: #523922;
}

.return-user {
    font-size: 13px;
    text-decoration: underline;
}

.display-block {
    display: block;
    height: 100vh;
}

.mid-center {
    left: calc(50% - 150px);
    top: calc(50% - 40px);
}
.font-15rem {
    font-size: 1.5rem;
}
.border-main-color {
    border-color: #97BE63 !important;
}
@media screen and (max-width: 768px) {
    .mid-center {
        left: calc(50% - 150px);
    }
}
@media screen and (max-width: 480px) {
    .mid-center {
        left: calc(50% - 110px);
    }
}
.short-link {
    word-break: break-all;
}

.total-click {
    width: 70px !important;
}

.header {
    width: 100%;
    height: 120px;
    background-color: #6A6A6A;
}

.header .top {
    height: 60px;
    display: flex;
}

.header .logo h5 {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 60px;
    text-transform: uppercase;
}

.header .menu-header {
    float: right;
    position: relative;
}

.header .menu-header li {
    float: left;
    width: auto;
    height: 30px;
}

.menu-header > li > a {
    color: #fff;
    font-size: 12px;
    padding: 0px 10px;
    line-height: 30px;
    border-right: 1px solid #97BE63;
}

.menu-header > li:first-child a {
    color: #97BE63;
    border-right: none;
}

.menu-header > li:last-child a {
    border-right: none;
}

.menu-header > li:hover .sub-menu {
    display: block;
}

.menu-header .sub-menu {
    top: 30px;
    right: 0px;
    width: 350px;
    display: none;
    overflow-y: auto;
    max-height: 300px;
    border-radius: 5px;
    overflow-x: hidden;
    position: absolute;
    z-index: 9;
    background-color: #fff;
}

.menu-header .sub-menu ul:before {
    bottom: 98%;
    left: 12px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: transparent;
    border-width: 8px;
    margin-left: -8px;
}

.menu-header .sub-menu li{
    padding: 0;
    width: 100%;
    height: 35px;
}

.menu-header .sub-menu .title {
    float: left;
    font-size: 14px;
    padding-left: 10px;
    line-height: 35px;
    font-weight: bold;
}

.menu-header .sub-menu .action-menu {
    float: right;
    font-size: 12px;
    padding-right: 10px;
    line-height: 35px;
}

.sub-menu .action-menu .edit {
    color: #D90000;
    text-transform: lowercase;
    padding-right: 3px; 
}

.sub-menu .action-menu .edit:hover {
    text-decoration: underline;
    text-decoration-color: red;
}

.menu-header .sub-menu .action a:first-child {
    padding-right: 5px;
    border-right: 1px solid #000;
}

.menu-header .sub-menu .action a {
    text-decoration: none;
}

.header .bottom {
    height: 60px;
    display: flex;
    align-items: flex-end;
}

.menu {
    width: 100%;
    margin-left: 20px;
}


.menu li {
    float: left;
    height: 40px;
    min-width: 110px;
    margin-right: 5px;
    text-align: center;
    background-color: #97BE63;
    border: 1px solid #97BE63;
    border-radius: 5px 5px 0 0;
}

.right-menu {
    float: right !important;
    margin-right: 1.5rem !important;
}

.menu li a {
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    font-weight: bold;
    font-family: 'Trebuchet MS';
}

.menu li a:hover {
    color: #212529;
    text-decoration: none;
}

.menu li.active {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
}

.menu li.active a {
    color: #212529;
}

.tabs li {
    float: left;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    text-align: center;
    background-color: #97BE63;
    border: 1px solid #97BE63;
    border-radius: 5px 5px 0 0;
}

.tabs {
    width: 100%;   
}

.tabs li a {
    color: #fff;
    font-size: 13px;
    line-height: 40px;
    font-weight: bold;
}

.tabs li a:hover {
    color: #212529;
    text-decoration: none;
}

.tabs li.active {
    background-color: #f2f2f2;
    border: 1px solid #F2F2F2;
    box-shadow: -1px -1px 8px 0px #dddddd;
}

.tabs li.active a {
    color: #212529;
}

.tabs li.disabled {
    background-color: #cdcdcd;
    border-color: #ccc;
}

.tabs li.disabled a {
    cursor: not-allowed;
}

.sub-menu .account{
    color: #136F9A !important;
    font-size: 10px;
    border-left: 1px solid #2D2D2D;
    padding-left: 5px;
}
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.disableContent {
    pointer-events: none;
    opacity: 0.4;
}

.fs-12 {
    font-size: 12px !important;
}

.table td,
.table th {
    vertical-align: middle;
}

.main {
    width: 100%;
    background-color: #EEEEEE;
    min-height: calc(100vh - 120px);
}

.main .main-title {
    width: 100%;
    height: 60px;
    background: #B1B1B1;
    /* For browsers that do not support gradients */
    background: linear-gradient(#F8F8F8, #B1B1B1);
    /* Standard syntax (must be last) */
    background: -o-linear-gradient(#F8F8F8, #B1B1B1);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F8F8F8, #B1B1B1);
    /* For Firefox 3.6 to 15 */
    background: -webkit-linear-gradient(#F8F8F8, #B1B1B1);
    /* For Safari 5.1 to 6.0 */
}

.main .main-title h1 {
    color: #000;
    font-size: 22px;
    line-height: 60px;
    margin-left: 20px;
    font-weight: bold;
}

.main .main-content {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #dddddd;
}

.main .main-client-header {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: transparent;
}

.main .client-content {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #dddddd;
}

.main .client-content-data {
    background-color: #fff;
    box-shadow: 2px 2px 2px #dddddd;
    padding-bottom: 30px;
}

.main-content .header-button {
    display: flex;
    padding-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: space-between;
}

.header-button .button-right {
    display: flex;
    justify-content: flex-end;
}

.btn {
    font-size: 13px;
    font-weight: bold;
}

.btn-example {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #97BE63;
    border: 1px solid #97BE63;
}

.btn-example:hover {
    color: #212529;
}

.btn-example:focus {
    outline: none;
}

.btn-example.active {
    color: #FDD0A4;
    border-color: #523922;
    background-color: #523922;
}

.content-data {
    margin: 15px 15px;
    padding-bottom: 20px;
}

.form-add {
    padding-top: 30px;
    padding-bottom: 30px;
}

.select-group {
    position: relative;
}

.new-group {
    top: 0;
    left: 105%;
    position: absolute;
}

label.error {
    display: block;
    padding-top: 5px;
    font-size: 12px;
}

input.error,
span.error {
    border: 1px solid #B60000 !important;
}

select.error {
    color: #000;
    font-size: 12px;
    border: 1px solid #B60000;
}

textarea.error {
    border: 1px solid #B60000;
}

.width-full {
    width: 100%;
}

.custom-control {
    align-items: center;
}

.col-form-label {
    display: flex;
    align-items: center;
}

.btn-remove {
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
    font-weight: bold;
    margin-right: 10px;
    line-height: inherit;
    padding: .3rem .75rem;
    background-color: #97BE63;
    border: 1px solid #97BE63;
}

.btn-remove:hover {
    color: #212529;
}

.input-date {
    width: 180px;
    margin-right: 5px;
}

.input-time {
    width: 70px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.radio-custom {
    margin-top: 5px;
}

.check-all {
    width: 45px;
}

.modal-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
}

.total-message {
    font-size: 13px;
}

.content-sidebar {
    margin: 30px 20px;
}

.notify-email {
    width: 100%;
    display: inline-block;
}

.multiple-email {
    font-size: 12px;
}

#chartDashBoard {
    width: 100%;
    height: 300px;
    font-size: 11px;
}

.chartdiv {
    width: 500px;
    max-width: 100%;
    height: 300px;
}

#mapChart {
    width: 700px;
    max-width: 100%;
    height: 300px;
}

.btn-new-list {
    width: 200px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    background-color: #97BE63;
    border: 1px solid #97BE63;
    line-height: 50px;
    text-align: center;
}

.btn-new-list:hover {
    color: #000;
    text-decoration: none;
}

.title-table {
    padding-top: 30px;
}

.title-table .title {
    border: none;
    background: none;
    float: left;
    line-height: 35px;
    cursor: pointer;
    text-decoration: underline;
    padding-right: 5px;
}

.title-table .title:focus {
    outline: none;
}

.title-add {
    font-size: 16px;
    font-weight: bold;
    padding-top: 30px;
}

.row-title {
    color: black;
    text-decoration: underline;
}

.add-subscriber {
    padding: 20px 30px;
    border: 1px solid #8DBE6A;
}

.title-add-subscriber {
    margin-top: 10px;
    margin-left: 20px;
}

.import-result {
    font-size: 16px;
}

.custom-search {
    width: 250px;
    height: 33px;
    position: relative;
}

.input-search {
    width: 100%;
    height: 100%;
    box-shadow: none;
    padding-left: 35px;
    border-radius: 20px;
    display: inline-block;
    border: 1px solid #DDDDDD;
}

.custom-search i {
    left: 10px;
    line-height: 33px;
    position: absolute;
    display: inline-block;
    border-right: 1px solid #DDDDDD;
    width: 20px;
}

.timer-countdown {
    color: red;
    font-weight: bold;
}

.btn-primary-action {
    display: inline-block;
    color: #fff;
    background-color: #97BE63;
    border-color: #97BE63;
    cursor: pointer;
    padding: 0;
    width: 37px;
    height: 35px;
}

.btn-primary-action i {
    line-height: 35px;
}

.btn-primary-action:hover {
    color: #212529;
}

.btn-action {
    width: 30px;
    cursor: pointer;
    background-color: #FDD0A4;
    border: 1px solid #FDD0A4;
}

.btn-action i {
    line-height: 25px;
}

.action {
    width: 100px;
    text-align: center;
}

.page-link {}

.page-item.active .page-link {
    background-color: #97BE63;
    border: 1px solid #97BE63;
    color: #000;
}

.page-link {
    color: #97BE63;
}

.page-link:focus,
.page-link:hover {
    color: #97BE63;
}

.input-timezone {
    max-width: 240px;
    height: auto !important;
}

.title-display {
    text-decoration: none !important;
}

.test_message {
    float: left;
}

.button-send {
    padding: 8px;
    margin-left: 0;
}

.logo-dashboard {
    width: 150px;
    max-height: 75px;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    display: block;
    width: 100%;
    padding: .3rem .6rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background-color: white;
    min-height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
}

.select2-container {
    width: 100% !important;
}

#example_filter {
    display: none;
}

.custom-filter .btn-custom {
    width: 150px;
}

.display-flex {
    display: flex;
}

.custom-filter .fa-close {
    font-size: 20px;
    cursor: pointer;
}

.dropdown-custom {
    width: auto;
    display: inline-block;
}

.text-capitalize {
    text-transform: capitalize;
}

.action-campaign {
    width: 150px;
}

.w-200 {
    width: 200px;
    border: 1px solid #97BE63;
    padding: 20px 0;
}

.title-dashboard {
    width: 55px;
    display: inline-block;
}

#validDate {
    display: none;
}

.has-error {
    display: block;
    padding-top: 5px;
    font-size: 12px;
    color: #B60000 !important;
}

table#table-personalize {
    width: 100% !important;
}

.notify-resutl {
    text-align: center;
    line-height: 25px;
}

#settings-service-provider #networkList .listControl,
#settings-service-provider #countryList .listControl {
    max-height: 315px;
    overflow-y: scroll;
    border: 1px solid #f3f3f3;
    min-height: 315px;
}

#settings-service-provider #networkList .list-group li,
#settings-service-provider #countryList .list-group li {
    cursor: pointer;
}

#settings-service-provider .btn-custom {
    font-size: 1.3rem;
    margin-right: 0;
}

.sub-tab {
    height: 45px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: -25px;
    margin-top: 25px;
}

.sub-tab .tabs {}

.sub-tab .tabs .active {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}

.sub-tab .tabs .active a:hover {
    color: #212529;
}

.billing-content {
    padding: 30px;
}

.billing-balance {
    margin: 5px;
    text-align: center;
    border: 1px solid #FDD0A4;
}

.billing-col {
    display: flex;
    align-items: center;
}

.client-billing-row {
    min-height: 5rem;
    border: 1px solid #FDD0A4;
}

.client-action {
    align-items: center;
    position: relative;
    display: inline-flex;
    min-height: 1.5rem;
}

.client-row {
    padding-left: 9rem;
    margin-bottom: 1rem;
    border-top: 5px solid #97BE63;
}

.inline-block {
    max-width: 12.5rem;
    display: inline-block;
}

.padding-block-md {
    padding: 10px;
}

.title-export {
    font-size: 14px;
    font-weight: bold;
}

.export-checkbox {
    width: 200px;
    margin: auto;
}

.export-checkbox .custom-control {
    display: flex;
    margin-top: 10px
}

#text-phone {
    display: none;
}

.text-bold {
    font-weight: bold;
}

.header-transaction {
    width: 170px !important;
}

.info-campagin {
    max-width: 500px;
}

.info-campagin .title {
    width: 80px;
    display: inline-block;
}

.error-details {
    font-size: 20px !important;
}

.logo-error {
    width: 350px;
}

.dropdown-item {
    cursor: pointer;
    font-size: 12px;
}

.multiple-usage {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.usage {
    display: flex;
    align-items: center;
}

.table-striped {
    width: 100% !important;
}

.dropdown-menu {
    padding-top: 2px;
    padding-bottom: 2px;
    max-height: 300px;
    overflow-x: auto;
}

.dropdown-item {
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #97BE63;
}

.title-subscriber-list {
    font-size: 18px;
}

div.google-visualization-tooltip>ul>li>span {
    color: red !important;
}

.total-usage .date-show {
    font-size: 14px;
    padding-top: 1.2rem;
}

.total-usage p {
    font-size: 20px;
    padding-top: 0.8rem;
}

#show-usage li {
    font-size: 18px
}

svg>g>g:last-child {
    pointer-events: none
}

.text-size-14 {
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
}

.clickToAmend {
    display: flex;
    align-items: center;
}

.custom-filter {
    min-height: 236px;
}

.item-field {
    display: flex;
}

.item-field input {
    width: 350px;
    margin-right: 10px;
}

.item-field select {
    width: 150px;
    margin-right: 10px;
}

#message_text {
    white-space: pre-line;
}

.img-client {
    max-width: 127px;
}

.dropdown-custom {
    width: auto;
    display: inline-block;
}

.dropdown-custom .dropdown-item:focus,
.dropdown-custom .dropdown-item:hover {
    background-color: #97BE63;
}

body,html {
    position: relative;
}
#loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1051;
    display: none;
}

.bg-loader {
    background: rgba(221, 221, 221, 0.3);;
    width: 100%;
    height: 100%;
}

.loader-spin {
  padding: 0;
  position: absolute;
  z-index: 1052;
  margin: 0 auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  top: calc(50vh - 25px);
  left: calc(50vw - 25px);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.loader-spin > div {
    height: 100%;
    width: 8px;
    display: inline-block;
    float: left;
    margin-left: 2px;
    -webkit-animation: delay 0.8s infinite ease-in-out;
    animation: delay 0.8s infinite ease-in-out;
}

.loader-spin .bar1{
    background-color: #754fa0 ;
}

.loader-spin .bar2{
    background-color: #09b7bf;
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.loader-spin .bar3{
    background-color: #90d36b;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.loader-spin .bar4{
    background-color: #f2d40d;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.loader-spin .bar5{
    background-color: #fcb12b;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.loader-spin .bar6{
    background-color: #ed1b72;
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

@-webkit-keyframes delay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.05) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes delay {
  0%, 40%, 100% { 
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}