<div class="main">
    <div class="main-title">
        <h1>{{ $t("dashboard.title") }}</h1>
    </div>
    <div class="main-content">
        <div class="col">
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    <div class="col pt-3">
                        <form id="formFilterCampaign">
                            <div class="row justify-content-start">
                                <div class="col-xs-12 col-sm-4 col-md-2" id="select-filter">
                                    <select class="select-filter" name="state">
                                        <option value="month" selected>{{ $t("dashboard.month") }}</option>
                                        <option value="day">{{ $t("dashboard.day") }}</option>
                                        <option value="hour">{{ $t("dashboard.hour") }}</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-2 p-b-md invisible" id="select-date">
                                    <div class="justify-content-start">
                                        <select class="select-date" name="state">
                                            <option v-for="n in totalDay" :selected="day ? 'selected' : ''" :valiue="n">{{ n }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-2 p-b-md invisible" id="select-month">
                                    <div class="row justify-content-start">
                                        <select class="select-month" name="state">
                                            <option v-for="(value, key) in dataMonth" :value="(key+1)" :selected="(key + 1) == month ? 'selected' : ''">{{ value }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-2 p-b-md">
                                    <div class="justify-content-start">
                                        <select class="select-year" name="state">
                                            <option v-for="item in years" :value="item" :selected=" item == year ? 'selected' : ''" >{{ item }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 p-b-md">
                                    <div class="justify-content-start">
                                        <select class="select-timezone" name="state">
                                            <option v-for="(value, key) in timezone" :value="key" :selected="user.time_zone == key ? 'selected' : ''">{{ value }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="chartDashBoard"></div>
                    <div class="total-usage d-flex flex-row ml-4 mb-5">
                        <p class="text-bold">{{ $t('dashboard.total_usage') }}:</p>
                        <ul class="d-flex flex-column ml-3 border border-main-color p-3" id="show-usage">
                            <li class="">0</li>
                        </ul>
                        <span class="date-show pl-3"></span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="row justify-content-center mt-3"><strong>{{ $t('dashboard.quick_access') }}</strong></div>
                    <div v-if="user.type == 'GROUP3'">
                        <div class="row justify-content-center">
                            <a class="btn-new-list" href="/subscriber-lists/add">
                                {{ $t("dashboard.create_new_list") }}
                            </a>
                        </div>
                        <div class="row justify-content-center">
                            <a class="btn-new-list" href="/campaign/create">
                                {{ $t("dashboard.create_new_campaign") }}
                            </a>
                        </div>
                    </div>
                    <div v-if="user.type == 'GROUP2'">
                        <div class="row justify-content-center">
                            <a class="btn-new-list" href="client/create">
                                {{ $t("client.new") }}
                            </a>
                        </div>
                        <div class="row justify-content-center">
                            <a class="btn-new-list" href="clients/createReader">
                                {{ $t("client.new_reader") }}
                            </a>
                        </div>
                    </div>
                    
                    <div v-if="user.type == 'GROUP1'">
                        <div class="row justify-content-center">
                            <a class="btn-new-list" href="#">
                                {{ $t("client.new") }}
                            </a>
                        </div>
                    </div>

                    <div v-if="user.type == 'GROUP4' && user.billing_type != 'UNLIMITED'">
                        <div class="row justify-content-center  ">
                            <div class="w-200 m-t-lg text-center">
                                    <strong class="title-dashboard w-100">
                                        {{ $t("dashboard.balance") }}
                                    </strong>
                                    <hr class="my-2">
                                    <h4 class="font-15rem">
                                        {{ formatCurrency(user.credits - user.credits_usage, user.currency)  }}
                                    </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


